/* CSS Reset inspired by CSS Remedy 
* https://github.com/jensimmons/cssremedy
* and also some of Andy Bell's post:
* https://dev.to/hankchizljaw/a-modern-css-reset-6p3
*/ 

:root {
    @include spread-map($theme-map-dark);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-color: theme-var($--bg-main);
    color: theme-var($--text-colour);
    margin: 0;
    padding: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.00rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }

h1 { margin: 0.67em 0; }

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    background-color: theme-var($--surface-0);
    color: theme-var($--text-colour);
}

a:not([class]):hover {
    background-color: theme-var($--surface-1);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

pre { white-space: pre-wrap; }

img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    max-width: 100%;
}

img, svg, video, canvas {
    height: auto;
}