$--white: --white;
$--black: --black;
$--bg-main: --bg-main;
$--surface-0: --surface-0;
$--surface-1: --surface-1;
$--text-colour: --text-colour;
$--text-colour-sub: --text-colour-sub;
$--green-50: --green-50;
$--green-75:  --green-75;
$--green-100:  --green-100;
$--green-200: --green-200;
$--youtube: --youtube;
$--musescore: --musescore;

$theme-map-dark: (
  $--white: #ffffff,
  $--black: #000000,
  $--bg-main: #121212,
  $--surface-0: #2c2c2c,
  $--surface-1: #313131,
  $--text-colour: #ffffff,
  $--text-colour-sub: rgba(#ffffff, 0.7),
  $--green-50: #2ecc71,
  $--green-75:  #28b463,
  $--green-100:  #239b56,
  $--green-200: #1d8348,
  $--youtube: #FF0000,
  $--musescore: #1f74bd,
);

// Logo Colours
$--shell: #228200;
$--body: #F9E000;
$--head: #37D300;
$--feet-fg: #37D300;
$--feet-bg: #2DAD00;
$--water-hat: #08C1FB;