.sheet-title {
  text-align: center;
}

a {
  transition: all 0.3s ease;
  text-align: center;

  svg {
    padding: 0.1rem;
    transition: all 0.3s ease;
    path {
    fill: theme-var($--text-colour-sub);
    }
  }
}

a.pdf-link {
  background-color: theme-var($--surface-0);
  color: theme-var($--text-colour-sub);
  &:hover,
  &:focus {
    color: theme-var($--text-colour);
    svg path {
      fill: theme-var($--text-colour);
    }
    transform: translateY(-4px);
  }


}

a.musescore-link {
  background-color: theme-var($--musescore);
  color: theme-var($--text-colour-sub);
  &:hover,
  &:focus {
    color: theme-var($--text-colour);
    transform: translateY(-4px);
  }
}

a.back-link {
  background-color: none;
  color: theme-var($--text-colour);
  padding: 0.2rem;
  &:hover,
  &:focus,
  &:active {
    margin-right: 1.4rem;
    color: theme-var($--green-100);
  }
}