<!DOCTYPE html>
<html lang="en-GB">
<head>
  {{- partial "head.html" . -}}
  {{ $opts := dict "targetPath" "main.js" }}
  {{ $js := resources.Get "ts/piano/main.ts" | js.Build $opts }}
  <script src="{{ $js.Permalink }}" defer></script>
</head>
<body class="piano-body">
  <button class="tone-test">Click to Start</button>

  <div class="piano">
    <div data-note="C4" class="key white"></div>
    <div data-note="Db4" class="key black"></div>
    <div data-note="D4" class="key white"></div>
    <div data-note="Eb4" class="key black"></div>
    <div data-note="E4" class="key white"></div>
    <div data-note="F4" class="key white"></div>
    <div data-note="Gb4" class="key black"></div>
    <div data-note="G4" class="key white"></div>
    <div data-note="Ab4" class="key black"></div>
    <div data-note="A4" class="key white"></div>
    <div data-note="Bb4" class="key black"></div>
    <div data-note="B4" class="key white"></div>
    <div data-note="C4" class="key white"></div>
  </div>
</body>
</html>