<!DOCTYPE html>
<html lang="en-GB">
<head>
  {{- partial "head.html" . -}}
  {{ $opts := dict "targetPath" "main.js" }}
  {{ $js := resources.Get "ts/piano/main.ts" | js.Build $opts }}
  <script src="{{ $js.Permalink }}" defer></script>
</head>
<body class="piano-body">

  <div class="songs-window">
    <h1 class="song-title">Song Name</h1>
    <div class="bpm-container">BPM: <input class="bpm" type="number" name="bpm" min="50" max="230"></div>
    <div class="lines-window"></div>
  </div>

  <div class="piano">
    {{ range $sequence :=  (seq 3 5) }}
      <div data-note="C{{ $sequence }}" class="key white">C{{ $sequence }}</div>
      <div data-note="C#{{ $sequence }}" class="key black">C#{{ $sequence }}</div>
      <div data-note="D{{ $sequence }}" class="key white">D{{ $sequence }}</div>
      <div data-note="D#{{ $sequence }}" class="key black">D#{{ $sequence }}</div>
      <div data-note="E{{ $sequence }}" class="key white">E{{ $sequence }}</div>
      <div data-note="F{{ $sequence }}" class="key white">F{{ $sequence }}</div>
      <div data-note="F#{{ $sequence }}" class="key black">F#{{ $sequence }}</div>
      <div data-note="G{{ $sequence }}" class="key white">G{{ $sequence }}</div>
      <div data-note="G#{{ $sequence }}" class="key black">G#{{ $sequence }}</div>
      <div data-note="A{{ $sequence }}" class="key white">A{{ $sequence }}</div>
      <div data-note="A#{{ $sequence }}" class="key black">A#{{ $sequence }}</div>
      <div data-note="B{{ $sequence }}" class="key white">B{{ $sequence }}</div>
    {{ end }}
    <div data-note="C6" class="key white">C6</div>
  </div>

  <div class="song-controls">
    <h2 class="subheader">Try It Yourself</h2>
    <div class="notes">
      <div class="prev-note">Previous Note:</div>
      <div class="current-note">Current Note: </div>
      <div class="next-note">Next Note: </div>
    </div>
    <div class="progress">Progress: </div>
    <button class="btn btn-piano restart">Restart</button>
  </div>
</body>
</html>