<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{with (default .Site.Title .Page.Title)}}<title>{{ . }}</title>{{end}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {{$style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{partial "favicon.html"}}
    {{if .Site.GoogleAnalytics}}
        {{template "_internal/google_analytics.html" .}}
    {{end}}
</head>