{{ define "main" }}
<div class="container">
  <div class="grid">
    {{ range .Pages}}
      <a class="card-link" href="{{ .Permalink }}">
        <div class="card">
            <div class="card-image-container">
              {{ partial "helpers/responsimage.html" . }}
                <!-- <img class="card-image" src="{{resources.Get "images/default-thumbnail.webp"}}" alt="thumbnail"> -->
            </div>
            <h3 class="card-title" >{{ .Title }}</h3>
        </div>
      </a>
    {{ end}}
  </div>
</div>
{{ end }}