{{ define "main"}}
{{ $backIcon := resources.Get "svg/heroicons/solid/chevron-left.svg" }}
  <div class="container">
  {{with (default $.Site.Title .Title)}}<h1 class="sheet-title">{{.}}</h1>{{end}}
  {{with (.Params.author)}}<h3 class="sheet-author">{{.}}</h3>{{end}}
  <div class="container">
    <div class="links">
      {{ partial "sheets/getPDF.html" . }}
      {{ partial "sheets/musescore.html" . }}
      {{ partial "sheets/youtube.html" . }}
    </div>
    {{ .Content }}
  </div>
  <a href="/sheets" class="back-link">{{ $backIcon.Content | safeHTML }}Back to sheets</a>
  </div>
{{ end }}