{{/* Retrieves PDF resource from sheets bundle */}}
{{ $downloadIcon := resources.Get "images/icons/outline_file_download_white_24dp.png" }}
{{ with $.Page.Resources.ByType "application" }}
  {{ range . }}
    {{ if (in .MediaType.Suffixes "pdf") }}
    <div class="container">
      <a class="btn pdf-link" href="{{ .RelPermalink }}" alt="PDF of {{ .Name }}" target="_blank">
        {{ .Title }} (PDF)
        <img src="{{ $downloadIcon.RelPermalink }}" alt="">
      </a>
    </div>
    {{ end }}
  {{ end }}
{{end}}